<div class="project_show">
    <div class="project_folder"></div>
    <div class="project_right">
        <div class="project_edit"></div>
        <div class="project_separator"></div>
        <div class="project_delete"></div>
    </div>
    <div class="project_text"><%= name %></div>
</div>